

.themain {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #838fbb;
	background: #08123a;
}

.themain a:link, a:visited { color: #ffffff; text-decoration: none; font-weight: normal; } 
.themain a:active, a:hover { color: #99FFFF; text-decoration: underline; }

.themain p {
	margin: 0px;
	padding: 0px;
}

.themain img {
	margin: 0px;
	padding: 0px;
	border: none;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.margin_bottom_10 { float: left; width: 100%; height: 10px; font-size: 1px;	}
.margin_bottom_20 { clear: both; width: 100%; height: 20px; font-size: 1px;	}
.margin_bottom_30 { clear: both; width: 100%; height: 30px; font-size: 1px;	}
.margin_bottom_40 { clear: both; width: 100%; height: 40px; font-size: 1px;	}
.margin_bottom_50 { clear: both; width: 100%; height: 50px; font-size: 1px;	}
.margin_bottom_60 { clear: both; width: 100%; height: 60px; font-size: 1px;	}

.margin_right_10 { margin-right: 10px; }
.margin_right_60 { margin-right: 60px; }


#templatemo_header_wrapper{
	clear: both;
	width: 100%;
	height: 150px;	
	margin: 0 auto;
	background: url(images/templatemo_header_repeat.jpg) repeat-x;
}

#templatemo_header_wrapper #templatemo_header_panel{
	width: 980px;
	height: 150px;	
	margin:0 auto;
	color: #FFF;
	text-align: center;
	background: url(images/templatemo_header.jpg) no-repeat;
}

#templatemo_header_panel #templatemo_header{
	padding-top: 50px;
	font-size: 40px;
	letter-spacing: 50px;
	font-family: "Times New Roman", Times, serif;
}

#templatemo_header_panel #templatemo_tagline{
	font-size: 20px;
	padding: 20px 0px 5px 0px;
	font-family: "Times New Roman", Times, serif;
}


#templatemo_banner_wrapper{
	clear: both;
	width: 100%;
	height: 240px;	
	margin: 0 auto;
	background: url(images/templatemo_banner_repeat.jpg) repeat-x;
}

#templatemo_banner_wrapper #templatemo_banner_panel{
	width: 980px;
	height: 240px;	
	margin:0 auto;
	text-align: center;
	background: url(https://www.collinsdictionary.com/images/full/galaxy_364586081.jpg) no-repeat;
}



#templatemo_menu_wrapper{
	width: 100%;
	height: 90px;	
	margin: 0 auto;
	background: url(images/templatemo_menu_bg_repeat.jpg) repeat-x;
}

#templatemo_menu_wrapper #templatemo_menu_panel{
	width: 980px;
	height: 90px;	
	margin:0 auto;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu_panel ul {
	float: left;
	margin: 20px 0 0 10px;
	padding: 0;
	list-style: none;
}

#templatemo_menu_panel ul li{
	display: inline;
}

#templatemo_menu_panel ul li a{
	float: left;
	width: 115px;
	height: 52px;
	padding: 8px 0 0 0;
	margin-right: 40px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #37a5dd;
	background: url(images/templatemo_menu_button.png) no-repeat;
}

#templatemo_menu_panel li a:hover, #templatemo_menu_panel li .current{
	color: #ffffff;
	background: url(images/templatemo_menu_button_hover.png) no-repeat;
}

#templatemo_menu_panel li .last {
	padding-right: 0px;
	border-right: none;
}

#templatemo_content_wrapper{
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_content_bg.jpg) repeat-x;
}

#templatemo_content_wrapper #templatemo_content_panel{
	width: 960px;
	padding: 40px 10px 0 10px;
	margin:0 auto;
}

#templatemo_content_panel .content_panel_3col_section{ 
	float: left;
	width: 280px;
}

.content_panel_3col_section p{
	text-align: justify;
	margin-bottom: 10px;
}

.content_panel_3col_section p a {
	color: #abbdfe;
}

.p_section {
 	color: #abbdfe;
	text-align: justify;
	text-decoration: underline;
	margin-bottom: 10px;
}

.services {
	margin: 20px 0 0 30px;
	padding: 0px;
}

.services li{
	padding-bottom: 10px;
}

.header_01 {
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 5px;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.image_box_01 {
	padding: 4px;
	background: #7a93d0;
	margin-bottom: 10px;
}

.image_box_01 img {
	border: 1px solid #fff;	
	height: 145px;
	width: 280px;
}

.news_section {
	clear: both;
}

.news_section .news_image {
	float: left;
	margin: 3px 0 0 0;
	width: 82px;
	padding: 4px;
	background: #7a93d0;
}

.news_image img {
	width: 80px;
	height: 80px;
	border: 1px solid #ffffff;
}

.news_section .news_content {
	float: right;
	width: 170px;
}

.news_section .news_title {
	font-size: 12px;
	font-weight: bold;
	color: #abbdfe;
}



#templatemo_footer_wrapper{
	clear: both;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #203172;
	background: #040a25;
}

#templatemo_footer_wrapper #templatemo_footer_panel{
	width: 980px;
	margin:0 auto;
	padding: 15px 0;
	text-align: center;
}

#templatemo_footer_panel a {
	color: #abbdfe;
}



#gue {
  font-family: Arial;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

#hh1{
	font-family: 'Hurricane', cursive;
}

#gue img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


.cursor {
  cursor: pointer;
}


.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




.text-block {
  position: relative;
  text-align: center;
  
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

}

.text-block h4{
	font: 50 45px/1.3 'Lobster Two', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

.fbd {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
  background-image: url('https://cdna.artstation.com/p/assets/images/images/016/961/758/large/mateusz-ambrozewicz-final-ang.jpg?1554138307&dl=1');
  background-position: fixed;
}

.fbd h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

.fbd h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

.fbd h2 {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
  font-size: 25px;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.containerx th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.containerx td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.containerx {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
  opacity: 80%;
}

.containerx td, .containerx th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.containerx tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.containerx tr:nth-child(even) {
	  background-color: #2C3446;
}

.containerx th {
	  background-color: #1F2739;
}

.containerx td:first-child {
	  color: #FB667A;
}

.containerx tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.containerx td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
	.containerx td:nth-child(4),
.containerx th:nth-child(4) {
		  display: none;
	  }
}


.formxx{
	  margin-left: 500px;
	  opacity: 75%;
	  margin-top: -70px;
}
.form-style-4{
	width: 450px;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}










